<Template name="analytics">
    <h1>项目统计概况</h1>
    <br><br>
    <div id="js-legend" class="chart-legend"></div>
    <canvas id="myChart"  ></canvas>

    <table class="table">
        <thead>
        <tr>
            <th>项目名</th>
            <th>合同号</th>
            <th>总收入</th>
            <th>总支出</th>
        </tr>
        </thead>
        <tbody>
        {{#each lines}}
            <tr>
                <td>{{projectname}}</td>
                <td>{{contractname}}</td>
                <td>{{credit}}</td>
                <td>{{debit}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</Template>


