<template name="dashboard">
  <div class="dashboard-page ui-view"> 
    <div class="container-fluid"> 
      <div class="row"> 
        <div class="col-sm-3 col-md-2 sidebar"> 
          <div class="text-center"> 
            <h2 class="brand">中安公司 <br /><small>项目账务系统</small></h2>
            <img src="/flat-avatar.png" class="user-avatar" />
            <br /> 
            <a href="/login" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a> 
          </div> 

          <ul class="nav nav-sidebar">
              <li>
                  <a href="/">回首页</a>
              </li>
              <li>
                  <a href="/dashboard/project">项目管理</a>
              </li>
              <li>
                  <a href="/dashboard/credit">项目收入</a>
              </li>
              <li>
                  <a href="/dashboard/debit">项目支出</a>
              </li>
              <li>
                  <a href="/dashboard/analytics">项目报表</a>
              </li>
              <!--<li>
              <a href="/dashboard/overview">Overview</a>
            </li> 
            <li>
              <a href="/dashboard/reports">Reports</a>
            </li>-->
          </ul> 
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-scope ui-view">{{> yield}}</div>
          
      </div> 
    </div> 
  </div>
</template>