<Template name="overview">
	<div class="overview-page ui-view main" key="overview"> 
<!--
        <a href="/dashboard/reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>
-->
        <h1>项目账务管理 <small>云计算一站式服务</small></h1>


        <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            <a href="/dashboard/project" class="btn btn-sq-lg btn-primary">
                                <i class="fa fa-user fa-5x"></i><br/>
                                项目合同 <br>管理
                            </a>
                            <a href="/dashboard/credit" class="btn btn-sq-lg btn-success">
                                <i class="fa fa-balance-scale fa-5x"></i><br/>
                                项目收入 <br>明细
                            </a>
                            <a href="/dashboard/debit" class="btn btn-sq-lg btn-info">
                                <i class="fa fa-credit-card fa-5x"></i><br/>
                                项目支出 <br>明细
                            </a>
                            <a href="/dashboard/analytics" id="nonimpl" class="btn btn-sq-lg btn-warning">
                                <i class="fa fa-area-chart fa-5x"></i><br/>
                                项目收益 <br>报表
                            </a>
                        </p>
                    </div>
                </div>
                </div>
    </div>
</Template>