<Template name="project">
    <h1>项目<span id="add" style="float:right;cursor: pointer;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></h1>
    <table class="table">
        <thead>
        <tr>
            <th>项目名称</th>
            <th>合同号</th>
            <th>合同额</th>
            <th>操作</th>

        </tr>
        </thead>
        <tbody>
        {{#each projects}}
            <tr>
                <td>{{name}}</td>
                <td>{{contract}}</td>
                <td>{{price}}</td>
                <td>
                    <button type="button" id="del" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除</button>
                    <button type="button" id="edit" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>编辑</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>






</Template>


